body {
font-family: 'Sofia Sans Condensed', sans-serif;
background-color: black;
}
h1 {
    color: yellow;
}

.btn {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    align-items: center;
    background-color: yellow;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 35%;  
}

.btn:hover {
    background-color: yellow;
    opacity: 20%;
}

.conteudo-central {
    text-align: center;
}
